@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@400;600;700;800&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;800&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;500;400;600&display=swap");
// font-family: "Dela Gothic One", cursive;
// font-family: "Open Sans", sans-serif;
// font-family: "Paytone One", sans-serif;

@font-face {
  font-family: Font;
  src: url("/font/GRIFTER-normal-400-100.woff");
}
$display-font1: "Dela Gothic One", cursive;

.cursor-follower {
  position: absolute;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transition-delay: 0s;
  transition: all 300ms cubic-bezier(0.46, 0.37, 0.4, 0.94);
  transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500 !important;
  span,
  div,
  a,
  em,
  b {
    font-family: "Inter", sans-serif;
    font-weight: 500 !important;
  }
}

.em {
  position: relative;
  padding: 8px 10px;
  border-radius: 10px;
  color: #fff;
  font-style: normal;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #8862f3;
    border-radius: 10px;
    transform: rotate(-2deg);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #4621a9;
    border-radius: 8px;
    transform: rotate(2deg);
    z-index: -1;
  }
}

.abt-btn {
  position: relative;
  width: fit-content;
  padding: 5px 15px;
  height: 3.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0px;
  // overflow: hidden !important;
  transition: all ease-out 300ms;
  svg {
    position: relative;
    z-index: 10;
    fill: white;
  }
  // &::before {
  //   position: absolute;
  //   content: "";
  //   inset: 0;
  //   top: 0;
  //   transform: rotate(-5deg);
  //   background: #759173;
  //   transition: 300ms ease-out;
  //   border-radius: 5px;
  // }

  .main-text-btn {
    font-size: 1.5rem;
  }

  &:hover {
    &::before {
      transform: scale(1.05, 1.2);
    }
  }
  @media screen and (max-width: 450px) {
    height: 2.7rem;
    padding-inline: 8px;
    gap: 9px;
    .main-text-btn {
      padding: 0 !important;

      div {
        transition: 300ms ease-out;
        display: flex;
        gap: 9px;
        flex-direction: column;
        font-size: 1.2rem;
      }
    }
  }
}

.in-view {
  position: sticky;
  // top: 10vh;
  transform-origin: center top;
}

.animate {
  animation: animateIt forwards 800ms;
}
.reverse-animate {
  animation: animate-reverse forwards 800ms;
}

@keyframes animateIt {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

@keyframes animate-reverse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
