.gsap-btn {
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  border-radius: 2rem;
  border: solid 2px rgb(30 30 33);
}

.gsap-btn > span {
  position: relative;
  font-weight: 500;
  z-index: 10;
  color: rgb(30 30 33);
}
.gsap-btn:hover > span {
  color: white;
}

.gsap-btn::after {
  content: "";
  position: absolute;
  top: calc(var(--y, -10) * 1px - 20px);
  left: calc(var(--x, 0) * 1px - 20px);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: scale(0);
  background: rgb(30 30 33);
  transition: transform 0.35s cubic-bezier(0.33, 1, 0.68, 1);
}
.gsap-btn:hover::after {
  /* adjust the value of the to control how big you want it to scale */
  transform: scale(8);
}
